<a href="/listings">Back to Listings</a>
<br><br><br>
<h2><%= @listing.title %></h2>
<small>Posted by: <%= @listing.user.username %></small>
<br><br><br>
<p><%= @listing.description %></p>
<br>
<% if current_user.id == @listing.user_id %>
<a href="/listings/<%= @listing.id %>/bids"><button>View all Bids for this Listing</button></a>
<br><br>
<a href="/listings/<%= @listing.id %>/edit"><button>Edit</button></a>
<form method="post" action="/listings/<%= @listing.id %>">
<input id="hidden" type="hidden" name="_method" value="delete">
<br>
<input type="submit" value="Delete">
<% else %>
<a href="/bids/new/<%= @listing.id %>"><button>Place a Bid</button></a>
<%  end %>
</form>