<a href="/listings/<%= @listing.id %>">Back to Listing</a>
<br><br><br>
<h1>New Bid for "<%= @listing.title %>"</h1>
<% if @error %>
   <% @error.each do |e| %>
      <h3> Error: <%=  e %> </h3>
   <%end %>
<%end %>
<br>
<form method="post" action="/bids">
<input type="hidden" name="listing_id" value="<%= @listing.id %>">
<input type="hidden" name="user_id" value="<%= current_user.id %>">
<label>Amount $</label>
<input type="integer" name="amount"/>
<br><br>
<label>Message to poster:</label>
<br>
<textarea type="text" name="message" rows="4" cols="50"></textarea>
<br><br>
<input type="submit" value="Post Bid">
</form>